body.dark-mode {
  background: radial-gradient(circle, #574f80, #1b1822, #2458a5);
  color: #a80685;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: '☀️'; /* Sun icon for light mode */
  font-size: 20px;
  left: 8px;
  bottom: 4px;
  transition: .4s;
}

input:checked + .slider {
  background-color: #00008b;
}

input:checked + .slider:before {
  content: '🌙'; /* Moon icon for dark mode */
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Dark mode specific styling */
.dark-mode .pipeline-toolbar {
  background-color: #00008b;
  color: #5f1d49;
}

.dark-mode .react-flow-node {
  background-color: #2458a5;
  color: #ffffff;
  border: 2px solid #9b30ff;
}

.dark-mode .react-flow-node-input,
.dark-mode .react-flow-node-output {
  background-color: #00008b;
  border-color: #b6118c;
}

.dark-mode button {
  background-color: #6072da;
  color: rgb(255, 255, 255);
  border: 2px solid #040627;
}

.dark-mode input,
.dark-mode select,
.dark-mode textarea {
  background-color: #364f5a;
  color: #ece5e5;
  border: 1px solid #231135;
}

.dark-mode .react-flow__background {
  stroke: #9e3a78;
}
